* { box-sizing: border-box; }

html, body { margin: 0; width: 100%; height: 100%; text-align: center; }

h1, h2, h3, h4 { margin: 0; font-weight: normal; color: #ffffff; }

body { color: #000; font: 50px "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif, serif; }

.title{
    color: #fff; font-size: 30px; margin-bottom: 1rem;
}
/*遮罩层*/
.loading-overlay { position: fixed; width: 100%; height: 100%; z-index: 9999; background-color: black; }

.say { color: #fff; font-size: 0.250em; position: absolute; bottom: 1rem; width: 6rem; left: -3rem; margin-left: 50%; }
/* #ffcc96 */
.say b { font-family: "SimHei", serif; font-size: 0.3rem; }

.item { display: none; }

.item2 {  background-size: cover;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../../static/images/bg.jpg") no-repeat center;background-size: cover;
}
.item_start{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../../static/images/bg-start.png") no-repeat center;background-size: cover;
}
.bill-start h1{
    font-size: 0.400rem; letter-spacing: 0.067rem;    margin-top: 0.4rem;
}
.bill-start h2{
    font-size: 0.300rem; letter-spacing: 0.067rem;    margin-top: 0.5rem;    padding: 0.2rem;
}
.bill-start ul>li{
    margin-bottom: 0.1rem;
}
.bill-start ul{

    list-style-type:none;
    font-size: 0.300rem; letter-spacing: 0.067rem;
    color: white;
    text-align: left;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.item2 img { width: 1.5rem; margin-top: 1.667em; margin-bottom: 0.2rem; border-radius:0.2rem}

.item2 h1 { font-size: 0.400rem; letter-spacing: 0.067rem; }

.item2 .btn { font-size: 0.2rem; color: #fff; border: 0.017rem solid #fff; border-radius: 0.150rem; padding: 0.133rem 0.2rem; position: absolute;
    bottom: 15%; margin-left: 50%; left: -1.05rem; width: 2.3rem; }

.item3 {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/bill-bg33.jpg") no-repeat center;
  background-size: cover; }

.item3 h3 { color: #489cee; font-size: 0.367rem; }

.item3 .saying{font-size: 0.1rem; color: rgb(134, 134, 134);letter-spacing:0.03rem;}

.item3 h1 { font-size: 0.5rem; color: rgb(95, 95, 95); padding: 0.167rem 0; letter-spacing: 0.050rem; }

.item3 .invests { color: rgb(95, 95, 95); font-size: 0.533rem;position: relative; bottom: 0.3rem;margin-top: 0.25rem;}

.item3 .invests span { color: #489cee;  font-weight: bold;padding: 0 0.083rem; }

.item3 .amount { color: #489cee; font-weight: bold; font-size: 0.533rem; padding-bottom: 0.083rem; }

.item3 .amount span { color: #489cee; font-size: 0.533rem; }
.year-early{
    border-radius:0.2rem;
}
.year-bill {background-color: rgba(225, 225, 225, 0.71); background-size: cover;  margin-top: 1.7rem; padding-bottom: 0.2rem;}

.item3 .year { padding-top: 0.667rem; font-weight: bold }

.item4 { background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/bill-bg44.jpg") no-repeat center;  background-size: cover; }

.item4 img { width: 3.500rem; margin-top: 1rem; }



.item4 .earnings, .item4 .invests { display: block; color: #fff; font-size: 0.267rem; background-color: #fd808d; width: 1.267rem;border-radius: 0.700rem; padding: 0.267rem 0; position: absolute; }

.item4 .earnings {top: 0.250rem;right:-0.5rem;}

.item4 .boxround {background-color:rgba(248, 248, 248, 0.9);width:4.3rem ;font-size: 0.3rem;top: 2rem;position: absolute; text-align:left;    }

.item4 .inner {margin: 0.3rem;color:rgb(95, 95, 95);  font-size: 0.27rem;}

.item4 .inner span{color:#7d00fe }
.item4 .invests { background-color: #f585ff;bottom: -0.5rem; }

#monthAmount{font-size: 0.33rem}

.item5 {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/bill-bg44.jpg") ;
    background-size: cover;
}
.item8 {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/bill-bg55.jpg") ;
    background-size: cover;
}
.item9 {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/bill-bg33.jpg") ;
    background-size: cover;
}


.item5 ul { -webkit-padding-start: 0; margin-top: 1rem;margin-bottom: 0.5rem;}

.item5 li { list-style: none; background-color: rgba(255, 255, 255, 0.59); font-size: 0.3rem;border-radius: 10px;
    color: rgb(95, 95, 95); width: 80%; margin: 0.283rem auto;  text-align: left; padding: 0.133rem 0 0.133rem 0.333rem; }
.item5 li div{
    color: black;
    font-weight: bold;
}
.item5 li span { color: #7d00fe; margin: 0 0.033rem; font-size: 0.283rem; }

#chart_main{
    background-color: rgba(255, 255, 255, 0.59);border-radius: 10px;margin: auto 0.5rem;height: 35%;
}
.item6 { background-image: url("../../static/images/bill-bg66.jpg"); background-size: cover; }

.item6 .leading { background-color: rgba(255, 255, 255, 0.67); width: 75%; margin: 1.333rem auto 0; border-radius: 0.200rem; padding: 6% 3% 0; }

.item6 .leading img { width: 90%; margin-bottom: 0.167rem; }

.item6 h1, .item6 h2, .item6 h3 { color: #ff003a; }

.item6 h1 { font-size: 0.467rem; padding-bottom: 0.333rem; }

.item6 h3 { font-size: 0.267rem; }

.item6 h2 { font-size: 0.367rem; padding: 0.083rem 0; }

.item7 { background:  linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.5)),url("../../static/images/end.png") ; background-size: cover; }

.item7 .leading { background-color: rgba(255, 255, 255, 0.71); width: 85%; margin: 0.6rem auto 0;margin-top: 3rem; border-radius: 0.200rem; padding: 6% 3% 0; }

.item7 .leading img { width: 90%; height: 3rem; margin-bottom: 0.167rem; }

.item7 .key_title{font-size: 0.5rem;margin-bottom: -0.6rem}

.item7 .bottom_share{position: absolute; bottom: 0.3rem;
    text-align: center;
    width: 100%;}
/* display: flex;align-content:space-between */

.item7 .bottom_share .share{font-size: 0.35rem; padding: 0.14rem; color: #fff; width: 3.7rem;margin: 0 auto; border-style: solid;border-width: 1px; border-radius:10px;border-color: #fff;}

.item7 .bottom_share img{width: 40%;}

.item7 .bottom_share .scan{font-size: 0.2rem;}

#pie { width: 100%; height: 50% }